extends layout

block content
  .container
    h1 FreeCodeCamp API Basejump: URL Shortener
    
    h2 User Stories:
      ul
      li 1) I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
      li 2) If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
      li 3) When I visit that shortened URL, it will redirect me to my original link.
      
    h4 Example Input:
      code https://bitroku.herokuapp.com/new/https://www.freecodecamp.com
      
    h4 Example Output:
      code {"__v":0,"shortenedUrl":"https://bitroku.herokuapp.com/2130","originalUrl":"https://www.freecodecamp.com","_id":"57884ea241f3e0030026561e"}
    
    h4 Example Usage:
      code https://bitroku.herokuapp.com/2130
      
    h4 Redirects to the original URL at:
      code https://www.freecodecamp.com