extends layout

block content
  .container
    h1 FreeCodeCamp API Basejump: URL Shortener
    
    h2 User Stories:
      ul
      li 1) I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
      li 2) If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
      li 3) When I visit that shortened URL, it will redirect me to my original link.
      
    h2 Example usage:
      code Placeholder
      code Placholder
      
    h2 Example output:
    code Placeholder